{
    "blocks": [
        {
            "type": "divider"
        },
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": ":see_no_evil: Weekly Security Report for *<%= process.env.GCP_PROJECT %>* :see_no_evil:"
			}
		},
		{
			"type": "divider"
        },
        {
			"type": "section",
			"fields": [
				{
					"type": "mrkdwn",
					"text": "*Severity / Service Type*"
				},
				{
					"type": "mrkdwn",
					"text": "*Issues*"
                }
            ]
        },
        <% locals.forEach(function (s) {
            var emoji = "";
            if (s.severity == "danger") {
                emoji = ":no_entry_sign:";
            } else if (s.issues < 1) {
                emoji = ":white_check_mark:";
            } else if (s.severity == "warning") {
                emoji = ":warning:";
            } else {
                emoji = ":grey_question:";
            }
        %>
        {
			"type": "section",
			"fields": [
				{
					"type": "mrkdwn",
					"text": "<%= emoji %> - <%= s.service %>"
				},
				{
					"type": "mrkdwn",
					"text": "<%= s.issues %>"
                }
            ]
        },
        <%}) %>
		{
			"type": "section",
			"text": {
				"type": "mrkdwn",
				"text": "<<%- process.env.CI_PROJECT_URL %>/-/jobs/<%- process.env.CI_JOB_ID %>/artifacts/browse/report/ %>|Read the full report>"
			}
		},
		{
            "type": "context",
            "elements": [
              {
                "type": "mrkdwn",
                "text": ":point_up: Click on the .html file"
              }
            ]
        }
	]
}